.wholesaler-form input[type=text],
.wholesaler-form select {
  font-size: 1.1em;
  font-weight: normal;
  padding: 2px 3px;
}

input.required, select.required {
  color: #222;
}

.leftie, .rightie {
  display: block;
  width: 49%;
}
.leftie {
  float: left;
}
.rightie {
  float: right;
}

