<h1><%= t("editing_wholesaler") %></h1>

<%= form_for [:admin, @wholesaler], :html => { :class => "wholesaler-form" } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => "admin/shared/edit_resource_links" %>
<% end %>
